<%- contentFor('body') %>

<div class="container" style="margin-top: 30px;">
    <% if(msg) { %>
        <% if(msg == 'Nome de item em uso!'){ %>
            <div class="alert alert-dismissible alert-warning" style="margin-bottom: 50px;">
        <%} else{%>
            <div class="alert alert-dismissible alert-success" style="margin-bottom: 50px;">
        <%}%>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading"><b>Aviso!</b></h4>
            <p class="mb-0"><%= msg %></p>
        </div>
    <% } %>
    <form action="/itens/adicionar" method="POST">
        <div class="form-row">
            <div class="col-md-8 col-lg-8 col-xl-8 offset-md-2 offset-lg-2 offset-xl-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">CADASTRO DE CATEGORIA</h4>
                        <h6 class="text-muted card-subtitle mb-2">Categoria de itens</h6>
                        <div class="form-row">
                            <div class="col"><label>Nome</label>
                                <input class="form-control" type="text" name="nome" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label>Categoria</label>
                                <select class="form-control" name="categoria">
                                    <% categorias.map(data=>{ %>
                                        <option value="<%= data.id %>"> <%= data.nome %> </option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <button class="btn btn-warning btn-block" type="submit" style="margin-top: 20px;">Cadastrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
