<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BoxControll</title>
    <meta name="description" content="Land Page">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    
</head>
<body>
  <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-danger">
    <div class="container-fluid"><a class="navbar-brand d-lg-flex" href="/" style="font-family: 'Archivo Black', sans-serif;">Box Controll</a>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" role="presentation"><a class="nav-link" href="/categorias">Categorias</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="/itens">Itens</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="/caixas">Caixas</a></li>
        </ul>
      </div>
      <button data-target="#navcol-1" data-toggle="collapse" class="navbar-toggler">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <%- body %>
</body>
  

