<div class="container" style="margin-top: 30px;">
    <form>
        <div class="form-row">
            <div class="col-md-8 col-lg-8 col-xl-8 offset-md-2 offset-lg-2 offset-xl-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">ADIÇÃO DE ITEM</h4>
                        <div class="form-row">
                            <div class="col"><label>Item</label><select class="form-control"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                            <div
                                class="col"><label>Quantidade</label><input class="form-control" type="number" min="1" value="1" name="quantidade"></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label>Observações:</label><textarea class="form-control" id="descricao"></textarea></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><button class="btn btn-danger btn-block" type="button" style="margin-top: 20px;">Adicionar</button></div>
                    </div>
                </div>
            </div>
        </div>
</div>
</form>
<div class="row">
    <div class="col text-center"><button class="btn btn-danger" type="button">Voltar</button></div>
</div>
</div>